{% extends "base.html" %}

{% block content %}
    <h1>LCD Display</h1>

    <a href="/lcd_clear" class="btn btn-danger" role="button">Clear LCD</a>
    
    <div class="sub-container">
        <h2>Display rows</h2>
        <p>Use this form to set text for each display row.</p>
        <form action="/lcd_rows" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="form-group">
                <input type="text" class="form-control" id="lcd_text_1" name="lcd_text_1" placeholder="Row 1">
                <input type="text" class="form-control" id="lcd_text_2" name="lcd_text_2" placeholder="Row 2">
                <input type="text" class="form-control" id="lcd_text_3" name="lcd_text_3" placeholder="Row 3">
                <input type="text" class="form-control" id="lcd_text_4" name="lcd_text_4" placeholder="Row 4">
            </div>
    
            <button type="submit" class="btn btn-primary">Send rows</button>
        </form>
    </div>

    <div class="sub-container">
        <h2>Append text</h2>
        <p>Use this form to append a text to the one already visible</p>
        <form action="/lcd" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="form-group">
                <input type="text" class="form-control" id="lcd_text" name="lcd_text" placeholder="Enter text to send to LCD">                
            </div>

            <div class="form-group">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="lcd_new_line" name="lcd_new_line" />
                    <label for="lcd_new_line" class="form-check-label">New line</label>
                </div>
            </div>
    
            <button type="submit" class="btn btn-primary">Send text</button>
        </form>
    </div>





{% endblock %}
