{% extends "base.html" %}

{% block content %}
    <h1>Background Tasks</h1>

    <h3>Running Jobs</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Job ID</th>
                <th scope="col">Progress</th>
            </tr>
        </thead>
        <tbody>
            {% for task in model.running_jobs %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ task.job_id }}</td>
                <td>{{ task.progress|round(2) }} %</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <h3>Queued Jobs</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Job ID</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for task in model.queued_job_ids %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ task }}</td>
                <td><a href="/task/cancel/{{task}}">Cancel</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div>
        <a href="/task/create" class="btn btn-primary" role="button">Create new task</a>
        <a href="/tasks" class="btn btn-light" role="button">Refresh</a>
    </div>
{% endblock %}